In [135]:
from imports import *
from functions_kit import *
from sentiment_analyzer import sa

In [316]:
AUS = sa('UK', load = True)

In [317]:
AUS_df = AUS.final_df

In [434]:
len(AUS_df)

3550

In [489]:
x = pd.read_pickle('news_data/sentiment/sentiment_EUR.pkl')

In [535]:
AUS_df = pd.read_pickle('news_data/sentiment/sentiment_EUR.pkl')

In [536]:
AUS_df['aggregate_sentiment'] = AUS_df['manual_sentiment'] + AUS_df['vader_sentiment'] + AUS_df['textblob_sentiment'] + AUS_df['HIV4_sentiment'] + AUS_df['LM_sentiment']
AUS_df['aggregate_sentiment'][AUS_df['aggregate_sentiment'] > 1] = 1
AUS_df['aggregate_sentiment'][AUS_df['aggregate_sentiment'] < -1] = -1

In [537]:
AUS_df.head()

,text,title,manual_sentiment_score,manual_sentiment,vader_sentiment_score,vader_sentiment,textblob_sentiment_score,textblob_sentiment,HIV4_sentiment_score,HIV4_sentiment,LM_sentiment_score,LM_sentiment,aggregate_sentiment
2008-09-08,stock recover poise week sharp fall wall stree...,global market calm return coordinate rate cut ...,0.178821,1,-0.9830,-1,0.017391,1,-0.039514,-1,-0.602837,-1,-1
2008-09-09,msci world equity index pct panic sell hit asi...,global market fearful investor dump stock bond...,0.064140,1,-0.9996,-1,0.004653,1,0.064327,1,-0.693431,-1,1
2008-09-12,euro rally european govts agree rescue bank st...,forex euro stg rally bank bailout detail annou...,0.088672,1,0.5003,1,-0.020412,-1,0.333333,1,-0.589744,-1,1
2008-09-14,yen fall percent vs euro decline broadly europ...,forex yen slide global bank rescue step global...,-0.011039,-1,-0.9996,-1,0.003089,1,0.033613,1,-0.637306,-1,-1
2008-09-15,stock surge bargain snap wild session dollar g...,global market stock surge bargain hunt oil slide,-0.078151,-1,-0.9973,-1,-0.089784,-1,-0.223881,-1,-0.828571,-1,-1

In [538]:
final_list_of_currencies = ['AUD', 'CAD', 'CNY', 'COP', 'EUR', 'JPY', 'NZD', 'ZAR', 'SGD', 'CHF', 'GBP']
final_list_of_countries = ["AUS", "CAN", "CHN", "COL", "EUR", "JAP", "NZ","SA", "SNG", "SWI", "UK"]

exchange_rate_df = pd.read_pickle('data/final_exchange_rate_daily_data.pkl')
len(exchange_rate_df)

#Reduce datetime to daily for the dataset
exchange_rate_df.index = exchange_rate_df.index.values.astype('<M8[D]')

exchange_rate_df.head()

,AUD,CAD,CNY,COP,EUR,JPY,NZD,ZAR,SGD,CHF,GBP
2008-09-08,1.225885,1.065900,6.844128,2065.129142,0.707666,108.213684,1.490382,7.881818,1.429007,1.130554,0.569178
2008-09-09,1.238554,1.066616,6.838930,2072.682934,0.707031,107.481688,1.488939,7.919433,1.431538,1.128351,0.567448
2008-09-11,1.253593,1.076406,6.847612,2066.892293,0.717233,106.745700,1.538959,8.285845,1.444281,1.139091,0.570650
2008-09-12,1.226553,1.063836,6.823175,2065.364371,0.705455,107.527481,1.510527,8.095728,1.432597,1.134344,0.561074
2008-09-14,1.226553,1.064781,6.843508,2065.364371,0.707217,107.522848,1.512398,8.084855,1.432364,1.134626,0.561773

In [539]:
len(exchange_rate_df)

3332

In [540]:
len(UK_change)

3331

In [541]:
#Get UK exchange rates
UK_exchange = exchange_rate_df['EUR']
UK_change = UK_exchange.pct_change()
UK_change.dropna(inplace = True)

In [542]:
AUS_df['exchange_rate'] = UK_change

binary_column = [1 if value > 0 else -1 for value in AUS_df['exchange_rate']]
AUS_df['exchange_direction'] = binary_column

In [543]:
AUS_df.dropna(inplace = True)

In [544]:
len(AUS_df)

3320

In [545]:
AUS_df.head()

,text,title,manual_sentiment_score,manual_sentiment,vader_sentiment_score,vader_sentiment,textblob_sentiment_score,textblob_sentiment,HIV4_sentiment_score,HIV4_sentiment,LM_sentiment_score,LM_sentiment,aggregate_sentiment,exchange_rate,exchange_direction
2008-09-09,msci world equity index pct panic sell hit asi...,global market fearful investor dump stock bond...,0.064140,1,-0.9996,-1,0.004653,1,0.064327,1,-0.693431,-1,1,-0.000897,-1
2008-09-12,euro rally european govts agree rescue bank st...,forex euro stg rally bank bailout detail annou...,0.088672,1,0.5003,1,-0.020412,-1,0.333333,1,-0.589744,-1,1,-0.016421,-1
2008-09-14,yen fall percent vs euro decline broadly europ...,forex yen slide global bank rescue step global...,-0.011039,-1,-0.9996,-1,0.003089,1,0.033613,1,-0.637306,-1,-1,0.002498,1
2008-09-15,stock surge bargain snap wild session dollar g...,global market stock surge bargain hunt oil slide,-0.078151,-1,-0.9973,-1,-0.089784,-1,-0.223881,-1,-0.828571,-1,-1,-0.002889,-1
2008-09-16,jeremy gaunt european investment correspondent...,global market equity rise help earnings credit...,-0.268477,-1,-0.9959,-1,-0.059579,-1,-0.119565,-1,-0.723404,-1,-1,0.000645,1

In [546]:
#Check how many times the direction of the exchange rate and the sentiment was the same
vader_score = []
manual_score = []
textblob_score = []
aggregate_score = []
hiv4_score = []
lm_score = []
length_of_df = len(AUS_df)

#Vader Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['vader_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        vader_score.append(1)

vader_score = (sum(vader_score) / length_of_df) * 100
vader_score

#Manual Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['manual_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        manual_score.append(1)

manual_score = (sum(manual_score) / length_of_df) * 100
manual_score

#TextBlob Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['textblob_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        textblob_score.append(1)

textblob_score = (sum(textblob_score) / length_of_df) * 100
textblob_score

#HIV4 Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['HIV4_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        hiv4_score.append(1)

hiv4_score = (sum(hiv4_score) / length_of_df) * 100

#LM Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['LM_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        lm_score.append(1)

lm_score = (sum(lm_score) / length_of_df) * 100
        
#Aggregate Score
for i in tqdm.tqdm(range(length_of_df)):
    if AUS_df['aggregate_sentiment'].iloc[i] == AUS_df['exchange_direction'].iloc[i]:
        aggregate_score.append(1)
    
aggregate_score = (sum(aggregate_score) / length_of_df) * 100
aggregate_score

  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 53381.47it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 57356.11it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 57101.63it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 57042.45it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 57672.05it/s]
  0%|          | 0/3320 [00:00<?, ?it/s]
100%|██████████| 3320/3320 [00:00<00:00, 58076.38it/s]

50.451807228915655

In [547]:
vader_score

49.30722891566265

In [548]:
manual_score

49.54819277108434

In [549]:
aggregate_score

50.451807228915655

In [550]:
textblob_score

50.451807228915655

In [551]:
hiv4_score

50.24096385542168

In [552]:
lm_score

49.66867469879518

In [264]:
AUS_df.count_value()

AttributeError: 'DataFrame' object has no attribute 'count_value'

In [193]:
import pysentiment as ps

In [202]:
lm = ps.LM()

In [203]:
score_list = []
for text in tqdm.tqdm(AUS_df['text'][0:10] + AUS_df['title'][0:10]):
    tokens = lm.tokenize(text)
    score = lm.get_score(tokens)
    score_list.append(score)

100%|██████████| 10/10 [00:00<00:00, 29.77it/s]

In [9]:
tokens = hiv4.tokenize(AUS_df['text'][0])

In [205]:
score_list[0]

{'Positive': 21,
 'Negative': 116,
 'Polarity': -0.693430651872769,
 'Subjectivity': 0.10761979567351154}

In [10]:
score = hiv4.get_score(tokens)

In [553]:
from fredapi import Fred
api = '3dcbccc26181a5457fb8bd0584de00a8'
fred = Fred(api_key=api)

In [554]:
euro_interest = fred.get_series('EURONTD156N')
euro_interest = pd.DataFrame(euro_interest)
euro_interest = euro_interest.rename(columns = {0:"libor_EUR"})

In [555]:
us_interest = fred.get_series('USDONTD156N')
us_interest = pd.DataFrame(us_interest)
us_interest = us_interest.rename(columns = {0:"libor_USD"})

In [556]:
interest_df = pd.concat([euro_interest, us_interest], axis = 1, sort = True)

In [557]:
interest_df.isna().sum()

libor_EUR    117
libor_USD    277
dtype: int64

In [558]:
interest_df.dropna(inplace = True)

In [559]:
len(interest_df)

4625

In [560]:
interest_df['interest_diff'] = interest_df['libor_USD'] - interest_df['libor_EUR']

In [561]:
interest_df.head(10)

            libor_EUR  libor_USD  interest_diff
2001-01-02    4.84125    6.65125        1.81000
2001-01-03    4.83250    6.65375        1.82125
2001-01-04    4.82250    6.09625        1.27375
2001-01-05    4.78000    6.01625        1.23625
2001-01-08    4.77625    6.01500        1.23875
2001-01-09    4.78125    6.01125        1.23000
2001-01-10    4.82000    6.01500        1.19500
2001-01-11    4.82938    6.03750        1.20812
2001-01-12    4.82500    6.02500        1.20000
2001-01-16    4.81500    6.17625        1.36125

In [562]:
dataset = pd.concat([AUS_df, interest_df], axis = 1, sort = True)

In [563]:
dataset.isna().sum()

text                        2371
title                       2371
manual_sentiment_score      2371
manual_sentiment            2371
vader_sentiment_score       2371
vader_sentiment             2371
textblob_sentiment_score    2371
textblob_sentiment          2371
HIV4_sentiment_score        2371
HIV4_sentiment              2371
LM_sentiment_score          2371
LM_sentiment                2371
aggregate_sentiment         2371
exchange_rate               2371
exchange_direction          2371
libor_EUR                   1066
libor_USD                   1066
interest_diff               1066
dtype: int64

In [564]:
len(x)

3550

In [565]:
dataset.dropna(inplace = True)

In [566]:
dataset.head()

,text,title,manual_sentiment_score,manual_sentiment,vader_sentiment_score,vader_sentiment,textblob_sentiment_score,textblob_sentiment,HIV4_sentiment_score,HIV4_sentiment,LM_sentiment_score,LM_sentiment,aggregate_sentiment,exchange_rate,exchange_direction,libor_EUR,libor_USD,interest_diff
2008-09-09,msci world equity index pct panic sell hit asi...,global market fearful investor dump stock bond...,0.064140,1.0,-0.9996,-1.0,0.004653,1.0,0.064327,1.0,-0.693431,-1.0,1.0,-0.000897,-1.0,3.96250,2.13500,-1.82750
2008-09-12,euro rally european govts agree rescue bank st...,forex euro stg rally bank bailout detail annou...,0.088672,1.0,0.5003,1.0,-0.020412,-1.0,0.333333,1.0,-0.589744,-1.0,1.0,-0.016421,-1.0,4.29500,2.14625,-2.14875
2008-09-15,stock surge bargain snap wild session dollar g...,global market stock surge bargain hunt oil slide,-0.078151,-1.0,-0.9973,-1.0,-0.089784,-1.0,-0.223881,-1.0,-0.828571,-1.0,-1.0,-0.002889,-1.0,4.49375,3.10625,-1.38750
2008-09-16,jeremy gaunt european investment correspondent...,global market equity rise help earnings credit...,-0.268477,-1.0,-0.9959,-1.0,-0.059579,-1.0,-0.119565,-1.0,-0.723404,-1.0,-1.0,0.000645,1.0,4.41750,6.43750,2.02000
2008-09-22,euro hit year low vs dollar year low vs yen ye...,forex dollar hit yr high euro slide econ worry...,-0.091722,-1.0,-0.9933,-1.0,-0.018890,-1.0,-0.123810,-1.0,-0.695652,-1.0,-1.0,-0.025690,-1.0,4.40625,2.96875,-1.43750

In [482]:
sentiment_list = []
for i in range(len(dataset)):
    if dataset['interest_diff'][i] > 0 and  dataset['exchange_rate'][i] > 0:
        sentiment_list.append(1)
    elif dataset['interest_diff'][i] < 0 and  dataset['exchange_rate'][i] < 0:
        sentiment_list.append(-1)
    elif dataset['interest_diff'][i] < 0 and  dataset['exchange_rate'][i] > 0:
        sentiment_list.append(1)
    elif dataset['interest_diff'][i] > 0 and  dataset['exchange_rate'][i] < 0:
        sentiment_list.append(-1)
    else:
        sentiment_list.append(0)

In [483]:
len(dataset)

2254

In [484]:
len(sentiment_list)

2254

In [485]:
dataset['sentiment_data'] = sentiment_list

In [488]:
dataset.head()

,text,title,manual_sentiment_score,manual_sentiment,vader_sentiment_score,vader_sentiment,textblob_sentiment_score,textblob_sentiment,exchange_rate,exchange_direction,libor_EUR,libor_USD,interest_diff,sentiment_data
2008-09-09,msci world equity index pct panic sell hit asi...,global market fearful investor dump stock bond...,0.064140,1.0,-0.9996,-1.0,0.004653,1.0,-0.000897,-1.0,3.96250,2.13500,-1.82750,-1
2008-09-12,euro rally european govts agree rescue bank st...,forex euro stg rally bank bailout detail annou...,0.088672,1.0,0.5003,1.0,-0.020412,-1.0,-0.016421,-1.0,4.29500,2.14625,-2.14875,-1
2008-09-15,stock surge bargain snap wild session dollar g...,global market stock surge bargain hunt oil slide,-0.078151,-1.0,-0.9973,-1.0,-0.089784,-1.0,-0.002889,-1.0,4.49375,3.10625,-1.38750,-1
2008-09-16,jeremy gaunt european investment correspondent...,global market equity rise help earnings credit...,-0.268477,-1.0,-0.9959,-1.0,-0.059579,-1.0,0.000645,1.0,4.41750,6.43750,2.02000,1
2008-09-22,euro hit year low vs dollar year low vs yen ye...,forex dollar hit yr high euro slide econ worry...,-0.091722,-1.0,-0.9933,-1.0,-0.018890,-1.0,-0.025690,-1.0,4.40625,2.96875,-1.43750,-1

            libor_GBP  libor_USD  interest_diff       GBP  sentiment_data
2008-09-09    5.05188    2.13500       -2.91688 -0.003039              -1
2008-09-11    5.04875    2.13875       -2.91000  0.005643               1
2008-09-12    5.04750    2.14625       -2.90125 -0.016781              -1
2008-09-15    5.49375    3.10625       -2.38750 -0.004066              -1
2008-09-16    6.79375    6.43750       -0.35625  0.000937               1

In [345]:
interest_df.index

DatetimeIndex(['2008-09-09', '2008-09-11', '2008-09-12', '2008-09-15',
               '2008-09-16', '2008-09-22', '2008-09-26', '2008-09-29',
               '2008-09-30', '2008-10-01',
               ...
               '2019-09-04', '2019-09-05', '2019-09-06', '2019-09-09',
               '2019-09-10', '2019-09-12', '2019-09-13', '2019-09-16',
               '2019-09-17', '2019-09-18'],
              dtype='datetime64[ns]', length=2270, freq=None)

In [344]:
AUS_df.index

DatetimeIndex(['2008-09-09', '2008-09-12', '2008-09-14', '2008-09-26',
               '2008-09-27', '2008-09-28', '2008-09-29', '2008-09-30',
               '2008-10-03', '2008-10-04',
               ...
               '2019-09-08', '2019-09-09', '2019-09-10', '2019-09-12',
               '2019-09-13', '2019-09-14', '2019-09-15', '2019-09-16',
               '2019-09-17', '2019-09-18'],
              dtype='datetime64[ns]', length=3391, freq=None)

In [342]:
AUS_df['sentiment_data'] = sentiment_list

ValueError: Length of values does not match length of index

In [302]:
len(sentiment_list)

2270

In [303]:
len(AUS_df)

3163

In [534]:
dataset.head()

,text,title,manual_sentiment_score,manual_sentiment,vader_sentiment_score,vader_sentiment,textblob_sentiment_score,textblob_sentiment,exchange_rate,exchange_direction,libor_EUR,libor_USD,interest_diff,sentiment_data
2008-09-09,msci world equity index pct panic sell hit asi...,global market fearful investor dump stock bond...,0.064140,1.0,-0.9996,-1.0,0.004653,1.0,-0.000897,-1.0,3.96250,2.13500,-1.82750,-1
2008-09-12,euro rally european govts agree rescue bank st...,forex euro stg rally bank bailout detail annou...,0.088672,1.0,0.5003,1.0,-0.020412,-1.0,-0.016421,-1.0,4.29500,2.14625,-2.14875,-1
2008-09-15,stock surge bargain snap wild session dollar g...,global market stock surge bargain hunt oil slide,-0.078151,-1.0,-0.9973,-1.0,-0.089784,-1.0,-0.002889,-1.0,4.49375,3.10625,-1.38750,-1
2008-09-16,jeremy gaunt european investment correspondent...,global market equity rise help earnings credit...,-0.268477,-1.0,-0.9959,-1.0,-0.059579,-1.0,0.000645,1.0,4.41750,6.43750,2.02000,1
2008-09-22,euro hit year low vs dollar year low vs yen ye...,forex dollar hit yr high euro slide econ worry...,-0.091722,-1.0,-0.9933,-1.0,-0.018890,-1.0,-0.025690,-1.0,4.40625,2.96875,-1.43750,-1

In [567]:
from sklearn.linear_model import LinearRegression
model_1=LinearRegression()

In [568]:
model_1.fit(dataset[['aggregate_sentiment', 'interest_diff']], dataset[['exchange_rate']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [572]:
from sklearn.model_selection import train_test_split

In [573]:
x_train, x_test, y_train, y_test = train_test_split(dataset[['aggregate_sentiment', 'interest_diff']],
                                                    dataset['exchange_direction'], test_size=0.2, random_state = 42)

In [581]:
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='rbf') # Linear Kernel

#Train the model using the training sets
clf.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [582]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [583]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5011086474501109

In [576]:
score

0.47671840354767187

In [578]:
cm = confusion_matrix(y_test, predictions)
cm

array([[ 80, 137],
       [ 99, 135]])